<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様、Railsブログへようこそ！</h1>
    <p>
      ユーザー登録手続きを完了するには、以下のリンクをクリックしてください。<br>
    </p>
    <p>
      <a href="<%= @url %>">ユーザー登録を完了する</a>
    </p>
    <p>
      このリンクの有効期限は24時間です。期限が切れた場合は、再度登録手続きを行ってください。
    </p>
    <p>
      このメールに心当たりがない場合は、お手数ですが本メールを破棄してください。
    </p>
    <p>
      ※このメールは送信専用のアドレスから送信されています。返信はできませんのでご注意ください。
    </p>
  </body>
</html>
