<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= stylesheet_link_tag "mailer" %>
  </head>

  <body>
    <div class="email-container">
      <div class="email-header">
        <h1>PenBlog</h1>
      </div>
      <div class="email-body">
        <%= yield %>
      </div>
      <div class="email-footer">
        <p class="notice">※このメールは送信専用のアドレスから送信されています。返信はできませんのでご注意ください。</p>
      </div>
    </div>
  </body>
</html>
